
*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}


/* other classes */

.disable{
	display: none !important;
}

.animati{
	transition: ease-in-out;
	transition-duration: .6s;
}

.card {

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10px;
	margin: 10px;

	background: white;

	width: 250px;
	height: 180px;

	color: #3a3a3a;
	border-radius: 10px;
}

.card h1{
	margin: 0;
	color: #414141 !important;
}

.card a{
	font-size: 30px;
	color: #0093e9;
	font-weight: bold;
}

.card p{
}

/* other classes */

/* header */

.header-menu{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header-fondo{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	background-image: url("../images/home.jpeg");
	background-size: cover;
	background-position: center;
}

.header-menu a{
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #00a2ff;
	border-bottom: 4px solid #00a2ff;
}


/* header */

/* content */

.cont{
	padding-top: 140%;
	margin: 12px;
	text-align: justify;
}

.home{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(77, 77, 77, 0.164);
	position: absolute;
	width: 100%;
	height: 100%;



	top: 0;
	z-index: -1;
}

.home .img-yo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home img{
	border-radius: 50%;
}

.home h1{
	color: #ffffff;
}

.home h1{
	padding: 0 20px;
}

.list-projects{
	position: absolute;
	text-align: center;
	overflow: auto;
	height: 100%;
	background-color: rgba(77, 77, 77, 0.342);
	top: 0;
	z-index: -1;
	
}

.list-projects ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 10px 110px !important;
	
	height: 76%;
	overflow-y: auto;
}

.list-projects ul::-webkit-scrollbar{
	width: 8px;
}

.list-projects ul::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.521);
	border-radius: 20px;
}


.list-projects h1#title{
	margin-top: 60px;
	color: white;
}

.list-projects ul li{
	list-style: none;
}

/* about */

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	background: rgba(77, 77, 77, 0.342);

	position: absolute;
	width: 100%;
	height: 100%;

	top: 0;
	z-index: -1;
}

.contact .icons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.contact h1{
	color: white;
}

.contact a i {
	font-size: 130px;
	margin: auto 30px;
	border-radius: 50%;
	color: white;
}

/* about */

/* content */

/* media queries */

@media screen and (max-height: 400px){

	/* header */
	.header-fondo img{
		width: 30%;
	}
	/* header */

}

@media screen and (max-width: 430px){
	.header-fondo img{
		width: 60%;
	}

	/* content */
	.list-projects{
		width: 100%;
	}

	.list-projects ul{
		margin: 10px 50px !important;
	}

	.card{
	}
	/* content */
}

@media screen and (max-width: 800px){
	/* header */
	.header-menu{
		margin-top: 0;
		padding: 10px 0;
	}

	.header-menu a{
		font-size: 24px;
		color: #00a2ff;
	}
	/* header */

	/* content */

	.list-projects {
	}

	/* about */
	.contact a i{
		font-size: 100px;
	}
	/* about */

	/* content */

}
/* media queries */

/* animations */

/* animations */
