
*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}


/* other classes */
/* 
.disable{
	display: none !important;
} */

.animati{
	transition: ease-in-out;
	transition-duration: .6s;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10px;
	margin: 10px;

	background: white;

	width: 250px;
	height: 180px;

	color: #3a3a3a;
	border-radius: 10px;
}

.card h1{
	margin: 0;
	color: #414141 !important;
}

.card a{
	font-size: 30px;
	color: #0093e9;
	font-weight: bold;
}

/* other classes */

/* header */

.menu-box{
	position: relative;
}

.menu{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.fondo{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.menu a{
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #0079FF;
}


/* header */

header{
	background-color: #0079FF;

	display: flex;
	flex-direction: column;
	text-align: center;

	padding: 8% 10%;
}

header{
	color: white;
}


.cont{
	margin: 12px;
	text-align: justify;
}

.init{
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: relative;
	padding-bottom: 12%;
}

.init .me{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 5%;
}

.init .me-desc{
	margin: 0 10%;
	padding: 30px;
	background-color: #003C7F;
	border-radius: 20px;
	font-size: 30px;
	text-align: center;
}

.init img{
	border-radius: 50%;
	width: 270px;
}

.init h1{
	color: #ffffff;
}

/* header */

/* Lists */

.list-projects{
	background-color: #006DE5;
	position: relative;
	text-align: center;
	overflow: auto;
	/* height: 700px; */
	padding: 10%;
}

.list-projects ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 10px 110px !important;
	
	/* height: 76%; */
	overflow-y: auto;
}

.list-projects ul::-webkit-scrollbar{
	width: 8px;
}

.list-projects ul::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.521);
	border-radius: 20px;
}

.list-projects ul li{
	list-style: none;
}

.list-projects{
	color: white;
}

.list-projects h1#title-projects{
	/* margin-top: 60px; */
	color: white;
}

.list-projects span{
	font-size: 80px;
}

/* Lists */

/* Contact */

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	background: #005BBF;

	position: relative;
	padding: 10%;
}

.contact .icons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contact h1{
	font-size: 50px;
	color: white;
}

.contact a i {
	font-size: 130px;
	margin: auto 30px;
	color: white;
}

/* Contact */


/* footer */

footer{
	background-color: #003C7F;
	text-align: center;
	color: white;
}

/* footer */


/* media queries */

@media screen and (max-height: 400px){

	/* header */
	.header-fondo img{
		width: 30%;
	}
	/* header */

}

@media screen and (max-width: 430px){
	.header-fondo img{
		width: 60%;
	}

	/* Lists */
	.list-projects{
		/* width: 100%; */
	}

	.list-projects ul{
		margin: 10px 50px !important;
	}

	/* Lists */
}

@media screen and (max-width: 800px){
	/* header */
	.header-menu{
		margin-top: 0;
		padding: 10px 0;
	}

	.menu a{
		font-size: 24px;
	}

	.init{
		display: flex;
		flex-direction: column;
	}

	.init .me img{
		width: 240px;
	}

	.init .me-desc{
		font-size: 20px;
		padding: 20px;
	}

	/* header */

	/* content */

	.list-projects {
	}

	/* contact */

	.contact a i{
		font-size: 95px;
	}
	.contact h1{
		font-size: 35px
	}
	/* contact */

	/* content */

}
/* media queries */

/* animations */

/* animations */
